# Node modules
node_modules

# Database persistant
.db_data

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite
